body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

#navbar {
  display: flex;
  background-color: #333;
}

#navbar a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  align-items: flex-end;
  text-decoration: none;
  text-align: center;
  font-variant: small-caps;
}

#navbar a:hover {
  background-color: #a39c9c;
  color: black;
  font-variant: small-caps;
}

#navName {
  /*align-self: flex-start;*/
  background-color: #333;
  color: white;
}

.resHeadTitle, .projHeadTitle {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  text-decoration: none;
  font-variant: small-caps;
}

#headerpic {
  background-image: url("../img/webheader.png");
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-variant: small-caps;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
}
.headertext {
  text-align: center;
  /*position: absolute;*/
  color: white;
  font-size: 2.4em;
  font-weight: bold;
  font-variant: small-caps;
}
.headersubtext {
  text-align: center;
  /*position: absolute;*/
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  font-variant: small-caps;
  margin: -50px 0px;
}
.subheadertext {
  text-align: center;
  /*position: absolute;*/
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  font-variant: small-caps;
  padding-top: 0px;
  padding-bottom: 0px;
}
.subsubheadertext {
  text-align: center;
  /*position: absolute;*/
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps;
  padding-top: 0px;
}
.hl1 {
  width: 260px;
  height: 4px;
  background-color:#ffffff;
  display: flex;
  /*justify-content: center;*/
}
#resheaderpic {
  background-image: url("../img/purplemount.png");
  height: 200px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#projheaderpic {
  background-image: url("../img/greenmount.png");
  height: 200px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.picNText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.picItem {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picHeaders {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textItem {
  width: 90%;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35em;
  font-weight: bold;
  padding-bottom: 10px;
}
.resSub1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 5px;
}
.resSub2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  padding-bottom: 5px;
}
.resMainText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.projTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}
.projSub1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 5px;
}
.projSub2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  padding-bottom: 5px;
}
.projMainText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.resProjLink a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: bold;
  font-variant: small-caps;
}
.resProjLink {
  text-align: center;
  padding-top: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-variant: small-caps;
}

.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 16px;
}

.sectionTitle {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 10px;
}
.aboutTitle {
  text-align: center;
  color: #990000;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 10px;
}
.resSection {
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 5px;
}

.vl {
  display: none;
}
#about {
  padding: 15px 0px;
}

#past {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#present {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #990000;
  font-weight: bold;
}
#future {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#educ {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: ##4d43ab;
  font-weight: bold;
}
#workExp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #8d85d4;
}
#techSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #8d85d4;
}
#activities {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #8d85d4;
}
/*
.abtOpt, .resOpt, .projOpt {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.35em;
  color: #d37878;
  padding-top: 10px;
}
*/
.aboutOptions, .resumeOptions, .projOptions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-variant: small-caps;
  color: #ffffff;
  padding-top: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  font-variant: small-caps;
}
#python {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #286145;
  font-weight: bold;
}
#matlab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #65a686;
}
#htmlcssjs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #65a686;
}
#java {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #65a686;
}
#appliedmath {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #65a686;
}

.proj {
  display: none;
}
.python {
  display: flex;
}

.resume {
  display: none;
}
.educ {
  display: flex;
}

@media only screen and (min-width: 768px) { /*ipad*/
  .picItem {
    width: 30%;
  }
  .textItem {
    width: 65%;
    padding-left: 25px;
  }
  .picNText {
    flex-direction: row;
  }
  .vl {
    display: block;
    border-left: 2px solid black;
    height: 30px;
  }
  .aboutOptions, .resumeOptions, .projOptions {
    flex-direction: row;
  }
  #past {width: 9%;}
  #present {width: 12%;}
  #future {width: 11%;}
  #educ {width: 16%;}
  #workExp {width: 17%;}
  #techSkills {width: 23%;}
  #activities {width: 34%;}
  #python {width: 13%;}
  #matlab {width: 14%;}
  #htmlcssjs {width: 30%;}
  #java {width: 7%;}
  #appliedmath {width: 22%;}
}

@media only screen and (min-width: 1000px) { /*computer*/
  .picItem {
    width: 20%;
  }
  .textItem {
    width: 55%;
    padding-left: 25px;
  }
  .picNText {
    flex-direction: row;
  }
  .vl {
    display: block;
    border-left: 2px solid black;
    height: 30px;
  }
  .aboutOptions, .resumeOptions, .projOptions {
    flex-direction: row;

  }
  #past {width: 10%;}
  #present {width: 10%;}
  #future {width: 10%;}
  #educ {width: 12%;}
  #workExp {width: 12%;}
  #techSkills {width: 15%;}
  #activities {width: 22%;}
  #python {width: 10%;}
  #matlab {width: 10%;}
  #htmlcssjs {width: 20%;}
  #java {width: 7%;}
  #appliedmath {width: 13%;}
}
