body {
  padding: 0;
  margin: 0;
  background-color: #dddddd;
}

#navbar {
  display: flex;
  background-color: #333;
}

#navbar a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  align-items: flex-end;
  text-decoration: none;
  text-align: center;
}

#navbar a:hover {
  background-color: #a39c9c;
  color: black;
}

#navName {
  /*align-self: flex-start;*/
  background-color: #333;
  color: white;
}

.picNText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.picItem {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textItem {
  width: 90%;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35em;
  font-weight: bold;
  padding-bottom: 10px;
}
.resSub1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 5px;
}
.resSub2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  padding-bottom: 5px;
}
.resMainText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.projTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.35em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}
.projSub1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding-bottom: 5px;
}
.projSub2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  padding-bottom: 5px;
}
.projMainText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 16px;
}

.sectionTitle {
  text-align: center;
  color: #990000;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 10px;
}
.resSection {
  text-align: center;
  color: #d37878;
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 5px;
}
.hl1 {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  background-color:#990000;
}
.vl {
  display: none;
}

#past {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#present {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #990000;
  font-weight: bold;
}
#future {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#educ {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #990000;
  font-weight: bold;
}
#workExp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#techSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#activities {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
/*
.abtOpt, .resOpt, .projOpt {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.35em;
  color: #d37878;
  padding-top: 10px;
}
*/
.aboutOptions, .resumeOptions, .projOptions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 1.35em;
  color: #d37878;
  padding-top: 10px;
  margin: 0px;
}
#python {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #990000;
  font-weight: bold;
}
#matlab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#htmlcssjs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#java {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}
#appliedmath {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #d37878;
}

.proj {
  display: none;
}
.python {
  display: flex;
}

.resume {
  display: none;
}
.educ {
  display: flex;
}

@media only screen and (min-width: 768px) { /*ipad*/
  .picItem {
    width: 30%;
  }
  .textItem {
    width: 65%;
    padding-left: 25px;
  }
  .picNText {
    flex-direction: row;
  }
  .vl {
    display: block;
    border-left: 2px solid black;
    height: 30px;
  }
  .aboutOptions, .resumeOptions, .projOptions {
    flex-direction: row;
  }
  #past {width: 9%;}
  #present {width: 12%;}
  #future {width: 11%;}
  #educ {width: 16%;}
  #workExp {width: 17%;}
  #techSkills {width: 23%;}
  #activities {width: 34%;}
  #python {width: 13%;}
  #matlab {width: 14%;}
  #htmlcssjs {width: 30%;}
  #java {width: 7%;}
  #appliedmath {width: 22%;}
}

@media only screen and (min-width: 1000px) { /*computer*/
  .picItem {
    width: 20%;
  }
  .textItem {
    width: 55%;
    padding-left: 25px;
  }
  .picNText {
    flex-direction: row;
  }
  .vl {
    display: block;
    border-left: 2px solid black;
    height: 30px;
  }
  .aboutOptions, .resumeOptions, .projOptions {
    flex-direction: row;
  }
  #past {width: 10%;}
  #present {width: 10%;}
  #future {width: 10%;}
  #educ {width: 12%;}
  #workExp {width: 12%;}
  #techSkills {width: 15%;}
  #activities {width: 22%;}
  #python {width: 10%;}
  #matlab {width: 10%;}
  #htmlcssjs {width: 20%;}
  #java {width: 7%;}
  #appliedmath {width: 13%;}
}
